.d-flex {
  display: flex;
}

.fl-col {
  flex-direction: column;
}

.s-btw {
  justify-content: space-between;
}

.s-around {
  justify-content: space-around;
}

.jc-c {
  justify-content: center;
}

.jc-e {
  justify-content: end;
}

.a-c {
  align-items: center;
}

.wrap-flex {
  flex-wrap: wrap;
}

.grow1 {
  flex: 1;
}

.grow3 {
  flex: 3;
}

.g5 {
  gap: 5px;
}

.g10 {
  gap: 10px;
}

.g15 {
  gap: 15px;
}

.g20 {
  gap: 20px;
}

.g40 {
  gap: 40px;
}

.m5-a {
  margin: 5px auto;
}

.m5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}

.m20 {
  margin: 20px;
}

.m50 {
  margin: 50px;
}

.mt50 {
  margin-top: 50px;
}

.mv10 {
  margin: 0 10px;
}

.p5 {
  padding: 5px;
}

.over {
  overflow: auto;
}

.pntr {
  cursor: pointer;
}

.ta-c {
  text-align: center;
}

.ta-l {
  text-align: left;
}

* {
  margin: 0;
  padding: 0;
}

.app {
  background: lightsteelblue;
  height: 100vh;
  padding: 10px;
}

.toolbar {
  background: #7e9bd6;
  padding: 10px;
}

.toolbar a {
  text-decoration: none;
  font-weight: 900;
  font-size: 1.1em;
}

.toolbar-box {
  display: flex;
  justify-content: space-between;
}

.toolbar button {
  border: 1px solid #5983d6;
  border-radius: 4px;
  background: #5983d6;
  color: #551a88;
  font-weight: 700;
  cursor: pointer;
  padding: 5px;
}

.toolbar button:hover {
  background: transparent;
}

.gold {
  color: #551a88;
  font-weight: 900;
  font-size: 1.2em;
}

.display {
  border: 1px solid gray;
  height: 100%;
}

.box {
  border: 1px solid grey;
  box-shadow: 0 0 5px blue;
  border-radius: 4px;
  gap: 10px;
  margin: 5px;
}
