.d-flex {
  display: flex;
}

.space-btw {
  justify-content: space-between;
}

.a-item-c {
  align-items: center;
}

.wrap-flex {
  flex-wrap: wrap;
}

.grow1 {
  flex: 1;
}

.grow3 {
  flex: 3;
}

.g40 {
  gap: 40px;
}

.m50 {
  margin: 50px;
}
/* 
* {
  margin: 0;
  padding: 0;
} */

.app {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.main-box {
  display: flex;
  flex-direction: column;
}

nav {
  background: rgb(239, 239, 239);
  box-shadow: 0 0 3px grey;
  width: 600px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 10px 0;
}

.nav-btn {
  border: 4px ridge rgb(240, 240, 240);
  width: 155px;
  padding: 5px;
}

.nav-btn:hover {
  cursor: pointer;
  background: lightgreen;
}

main {
  background: rgb(241, 240, 240);
  box-shadow: 0 0 3px grey;
  width: 600px;
  height: 400px;
  overflow: auto;
}

.table {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.display-task {
  padding: 5px;
}

.task-text {
  width: 100%;
}

.show-tasks {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid grey;
}

.manage-task {
  display: flex;
  gap: 5px;
}

.date {
  font-size: 0.8em;
}

.cmpl {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60px;
}

.check {
  background: blue;
  cursor: pointer;
  width: 25px;
  display: block;
}

.dlt {
  text-align: center;
  width: 60px;
}

.delete {
  cursor: pointer;
  width: 25px;
}

footer {
  background: rgb(239, 239, 239);
  box-shadow: 0 0 3px grey;
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.footer-btn {
  border-radius: 6px;
  border: 2px solid grey;
  background: rgb(252, 248, 248);
  cursor: pointer;
  margin-right: 20px;
  padding: 5px 15px;
}

textarea {
  margin-left: 10px;
}
