.d-flex {
  display: flex;
}

.fl-col {
  flex-direction: column;
}

.s-btw {
  justify-content: space-between;
}

.s-around {
  justify-content: space-around;
}

.jc-c {
  justify-content: center;
}

.a-c {
  align-items: center;
}

.wrap-flex {
  flex-wrap: wrap;
}

.grow1 {
  flex: 1;
}

.grow3 {
  flex: 3;
}

.g5 {
  gap: 5px;
}

.g10 {
  gap: 10px;
}

.g15 {
  gap: 15px;
}

.g20 {
  gap: 20px;
}

.g40 {
  gap: 40px;
}

.m5-a {
  margin: 5px auto;
}

.m10 {
  margin: 10px;
}

.m20 {
  margin: 20px;
}

.m50 {
  margin: 50px;
}

.p5 {
  padding: 5px;
}

.over {
  overflow: auto;
}

.pntr {
  cursor: pointer;
}

.ta-c {
  text-align: center;
}

.ta-l {
  text-align: left;
}

* {
  margin: 0;
  padding: 0;
}

.app {
  background: lightsteelblue;
  height: 100vh;
}

.toolbar {
  background: #7e9bd6;
  padding: 10px;
}

.toolbar button {
  cursor: pointer;
  padding: 3px;
}

.toolbar-main {
  justify-content: end;
}

.login-box {
  border: 1px solid gray;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  background: #c8e3ee;
  justify-content: space-around;
  align-items: center;
  margin: 50px auto;
}

.login-box input {
  padding: 5px;
}

.login-box button {
  padding: 5px;
}

.register-box {
  border: 1px solid gray;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  background: #c8e3ee;
  justify-content: space-around;
  align-items: center;
  margin: 50px auto;
}

.register-box input {
  padding: 5px;
}

.register-box button {
  padding: 5px;
}

.create-post {
  border: 1px solid gray;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  background: #c8e3ee;
  justify-content: space-around;
  align-items: center;
  margin: 50px auto;
}

.create-post input {
  padding: 5px;
}

.create-post button {
  padding: 5px;
}

.post {
  cursor: pointer;
  background: #a6bce9;
  box-shadow: 0 0 4px #7e9bd6;
  border: 1px solid grey;
  text-align: center;
  height: 300px;
  margin: 5px;
}

.post img {
  width: 150px;
  height: 200px;
  margin: 5px;
}
