.d-flex {
  display: flex;
}

.space-btw {
  justify-content: space-between;
}

.a-item-c {
  align-items: center;
}

.wrap-flex {
  flex-wrap: wrap;
}

.grow1 {
  flex: 1;
}

.grow3 {
  flex: 3;
}

.g40 {
  gap: 40px;
}

.m50 {
  margin: 50px;
}
/* 
* {
  margin: 0;
  padding: 0;
} */

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar-box {
  border: 1px solid darkgreen;
  border-radius: 5px;
  height: 20px;
  margin: 50px auto;
}

.bar {
  width: 500px;
  height: 20px;
  background: green;
}

.todo {
  margin-top: 50px;
  border: 2px solid sienna;
  height: 50px;
}
